{% extends 'storage.html' %}
{% load static %}

{% block mainsidebar %}
<li class="nav-item">
<a href="{% url 'storage:pickup' %}" class="nav-link">
  <i class="nav-icon fas fa-th"></i>
  <p>
    提车单查看
  </p>
</a>
</li>
<li class="nav-item">
<a href="{% url 'storage:co_use' %}" class="nav-link">
  <i class="nav-icon fas fa-th"></i>
  <p>
    零件准备单
  </p>
</a>
</li>
<li class="nav-item has-treeview">
<a href="#" class="nav-link">
  <i class="nav-icon fas fa-tachometer-alt"></i>
  <p>
    采购单入库确认
    <i class="right fas fa-angle-left"></i>
  </p>
</a>
<ul class="nav nav-treeview">
  <li class="nav-item">
    <a href="{% url 'storage:car_purchase' %}" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>整车采购单</p>
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'storage:co_purchase' %}" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>零件采购单</p>
    </a>
  </li>
</ul>
</li>
<li class="nav-item has-treeview">
<a href="#" class="nav-link active">
  <i class="nav-icon fas fa-tachometer-alt"></i>
  <p>
    零件信息查询
    <i class="right fas fa-angle-left"></i>
  </p>
</a>
<ul class="nav nav-treeview">
  <li class="nav-item">
    <a href="{% url 'storage:batch' %}" class="nav-link active">
      <i class="far fa-circle nav-icon"></i>
      <p>按批次查询</p>
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'storage:component' %}" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>按种类查询</p>
    </a>
  </li>
</ul>
</li>
<li class="nav-item">
<a href="{% url 'storage:car' %}" class="nav-link">
  <i class="nav-icon fas fa-th"></i>
  <p>
    整车信息查询
  </p>
</a>
</li>
<li class="nav-item">
<a href="{% url 'storage:welcome' %}" class="nav-link">
  <i class="nav-icon fas fa-th"></i>
  <p>
    员工个人信息
  </p>
</a>
</li>
{% endblock %}

{% block content %}
<div class="col-sm-6">
            <h1>批次查询表</h1>
          </div>
<div class="card-header">
              <h3 class="card-title">一张蓝图绘到底，撸起袖子加油干</h3>
            </div>
<div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>零件名称</th>
                  <th>采购编号</th>
                  <th>入库时间</th>
                  <th>零件剩余数量</th>
                </tr>
                </thead>
                <tbody>
                {% for work in works %}
                <tr>
                    <td>{{ work.coname }}</td>
                    <td>{{ work.purid }}</td>
                    <td>{{ work.ptime }}</td>
                    <td>{{ work.remainnum }}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>零件名称</th>
                  <th>批次编号</th>
                  <th>入库时间</th>
                  <th>零件数量</th>
                </tr>
                </tfoot>
              </table>
            </div>
{% endblock %}

{% block script %}
<!-- DataTables -->
<script src="{% static 'adminlet/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlet/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'adminlet/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'adminlet/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'adminlet/dist/js/demo.js' %}"></script>
<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
  });
</script>
{% endblock %}