{%  load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Auto cars Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <title>{% block title %}base{% endblock %}</title>
    {% block css %}{% endblock %}
    <link href="{% static 'welcome/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'welcome/css/style.css' %}" rel='stylesheet' type='text/css' />
    <script src="{% static 'welcome/js/jquery.min.js' %}"></script>
    <script src="{% static 'welcome/js/bootstrap.js' %}"></script>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="{% static 'welcome/js/responsiveslides.min.js' %}"></script>

    <script>
        $(function () {
            $("#slider3,#slider2").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
    </script>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>