{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Blog</title>

    <!-- meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Auto cars Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

    <!-- css -->
    <link href="{% static 'welcome/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'welcome/css/style.css' %}" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">

    <!-- Js 放头部的好处是防止Js未加载完全用户即点击，但坏处是拖慢网页加载时间；出于Js功能可能性，本人倾向放头部 -->
    <script src="{% static 'welcome/js/jquery.min.js' %}"></script>
    <script src="{% static 'welcome/js/bootstrap.js' %}"></script>
    <script src="{% static 'welcome/js/responsiveslides.min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>

    <!-- 自定义Js -->
    <script>
        $(function () {
            $("#slider3,#slider2").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
    </script>

    <!--搜索框提示-->
    <script>
        $(document).ready(function(){
            var highlightindex = -1;
            $("#searchinput").on("input",function(){
                var divs = $("#re");
                divs.empty();
                divs.hide();
                if(jQuery.trim($("#searchinput").val()) != ''){
                    var s = $("#searchinput").val();
                    $.get('{% url 'welcome:search' %}' ,{'s':s},function(data){
                        var obj = jQuery.parseJSON(data);
                        divs.empty();
                        $.each(obj,function(n, value){
                            var newDivNode = $("<div>").attr("id", n);
                            newDivNode.attr("class","searchhint");
                            newDivNode.html(value);
                            divs.append(newDivNode);
                            newDivNode.mouseover(function () {
                                if(highlightindex != -1){
                                    divs.children("div").eq(highlightindex).css("background-color","transparent");
                                }
                                highlightindex = $(this).attr("id");
                                $(this).css("background-color","#ebebeb");
                            });
                            newDivNode.mouseout(function () {
                                $(this).css("background-color","transparent");
                            });
                            newDivNode.click(function () {
                                divs.hide();
                                var comText = $(this).text();
                                $("#searchinput").val(comText);
                            });
                        });
                    });
                    divs.show();
                }
            });
            document.onclick = function (e) {
                var e = e ? e : windows.event;
                var tar = e.scrElement || e.target;
                if (tar.id != "searchinput"){
                    if ($("#re").is(":visible")){
                        $("#re").css("display", "none");
                    }
                }
            };
        });
    </script>
    <!--咨询-->
    <script>
        $(function(){
            $('#touch').on('click', function(){
                var email = $("#touchemail").val();
                console.log(email);
                $.ajax({
                    cache: false,
                    type: "POST",
                    url:'{% url 'welcome:touch' %}',
                    data:{'email': email},
                    dateType:"json",
                    async: true,
                    beforeSend:function(xhr, settings){
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function(data) {
                        if(data.status == 'success'){
                            alert("提交成功");
                        //window.location.reload();//刷新当前页面.
                        }else if(data.status == 'fail'){
                            $('#jsCompanyTips').html(data.msg);
                            alert("邮箱格式错误，请检查");
                        }
                    },
                });
            });
        })
    </script>
    <!--咨询-->
    <script>
        $(function () {
            $("#contact_submit").on('click',function () {
                var name = $('#contact_name').val();
                var email = $('#contact_email').val();
                var phone = $('#contact_phone').val();
                var gender = $('#contact_gender').val();
                var choice = $('input[name="choice"]:checked').val();
                if(typeof(choice) == "undefined"){
                    choice = 'null';
                }
{#                alert(choice);#}
                var content = $('#contact_content').val();
                $.ajax({
                    cache: false,
                    type: "POST",
                    url:'{% url 'welcome:appo' %}',
                    data:{'name':name,'email': email,'phone':phone,'gender':gender,'choice':choice,"content":content},
                    dateType:"json",
                    async: true,
                    beforeSend:function(xhr, settings){
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function(data) {
                        if(data.status == 'success'){
                            alert("预约成功");
                            window.location.reload();//刷新当前页面.
                        }else if(data.status == 'fail'){
                            $('#jsCompanyTips').html(data.msg);
                            alert(data.msg);
                        }
                    },
                });
            })
        })
    </script>

    <!--datatable-->
    <script>
        $(function () {
            $('#carinfo_table').DataTable({
                "paging": true,       <!-- 允许分页 -->
                "lengthChange": true, <!-- 允许改变每页显示的行数 -->
                "searching": true,    <!-- 允许内容搜索 -->
                "ordering": true,     <!-- 允许排序 -->
                "info": true,         <!-- 显示信息 -->
                "autoWidth": false,
            });
        });
    </script>

    <!--搜索跳转-->
        <script>
        function getQueryVariable(variable){
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i=0;i<vars.length;i++) {
                var pair = vars[i].split("=");
                if(pair[0] == variable)
                    return decodeURI(pair[1]);
            }
            return(false);
        }
        $(document).ready(function(){
            var keyword=getQueryVariable("Skey");
            if (keyword != false) {
                $("#searchinput").val(keyword);
                var e = jQuery.Event("keyup");
                $("#carinfo_table_filter label input").val(keyword);
                e.KeyCode = 13;
                $("#carinfo_table_filter label input").trigger(e);
            }
        })
    </script>

    <!--自定义css-->
    <style type="text/css">
        #re{
            position: absolute;
            top:32px;
        }
        .searchhint{
            width: 204.828px;
        }
        .log{
            float:right;
        }
    </style>
</head>
<body>
<!-- banner -->
<div class="banner banner2">
    <div class="container">
        <div class="log">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #fff">
                            {{ user.username }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if user.type == 'customer' %}
                                <li><a class="dropdown-item" href="{% url 'login:index' %}">个人中心</a></li>
                             {% elif user.type == 'finance' %}
                                 <li><a class="dropdown-item" href="{% url 'Finance:index' %}">个人中心</a></li>
                             {% elif user.type == 'HR' %}
                                 <li><a class="dropdown-item" href="{% url 'HumanResources:index' %}">个人中心</a></li>
                             {% elif user.type == 'purchase' %}
                                 <li><a class="dropdown-item" href="{% url 'purchase:welcome' %}">个人中心</a></li>
                             {% elif user.type == 'repair' %}
                                 <li><a class="dropdown-item" href="{% url 'repair:welcome' %}">个人中心</a></li>
                             {% elif user.type == 'sale' %}
                                 <li><a class="dropdown-item" href="{% url 'Sale:index' %}">个人中心</a></li>
                             {% elif user.type == 'storage' %}
                                 <li><a class="dropdown-item" href="{% url 'storage:welcome' %}">个人中心</a></li>
                             {% endif %}
                            <li><a class="dropdown-item" href="{% url 'welcome:logout' %}">退出登录</a></li>
                            <li><a class="dropdown-item" href="{% url 'welcome:reset_psd_email' %}">更改密码</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'welcome:login' %}" style="color: #fff">登录</a>
                    </li>
                {% endif %}
             </ul>
        </div>
        <div class="header">
            <div class="logo">
                <h1><a href="{% url 'welcome:index' %}"><img src="{% static 'welcome/images/car.png' %}" alt="log丢失"/>徳旭 <span>4S</span></a></h1>
            </div>
            <div class="top_details">
                <p><span></span> (880)123 2500</p>
                <div class="search">
                    <form  method="get" action="{% url 'welcome:blog' %}">
                        <input type="text" value="" placeholder="Search..." id="searchinput" name="Skey">
                        <input type="submit" value="">
                    </form>
                    <div id="re"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"> </span>
                </button>
            </div>
            <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'welcome:index' %}">主页 <span class="sr-only">(current)</span></a></li>
                    <li><a href="{% url 'welcome:about' %}">关于我们</a></li>
                    <li><a href="{% url 'welcome:services' %}">服务介绍</a></li>
                    <li class="active"><a href="{% url 'welcome:blog' %}">汽车信息</a></li>
                    <li><a href="{% url 'welcome:gallery' %}">徳旭风采</a></li>
                    <li><a href="{% url 'welcome:contact' %}">预约试驾</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!---->
<div class="gallery">
    <div class="container">
        <div class="gallery-top gal_heading">
				<h2>汽车信息</h2>
				<ol class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li class="active">Carinfo</li>
			    </ol>
        </div>
        <div class="bs-docs-example">
            <table class="table table-hover" id="carinfo_table">
                <thead>
                <tr>
                    <th>品牌</th>
                    <th>型号</th>
                    <th>售价</th>
                    <th>库存状态</th>
                </tr>
                </thead>
                <tbody>
                {% for item in carlist %}
                    <tr onclick="location.href='{% url 'welcome:details' item.id %}';">
                    <td>{{ item.band }}</td>
                    <td>{{ item.ctype }}</td>
                    <td>{{ item.price }}</td>
                    {% if item.inventory == 0 %}
                    <td><label class="badge badge-danger">缺货</label></td>
                    {% elif item.inventory < 3 %}
                    <td><label class="badge badge-warning">存货紧缺</label></td>
                    {% else %}
                    <td><label class="badge badge-success">充足</label></td>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <hr class="bs-docs-separator">
    </div>
</div>
{#<div class="typrography">#}
{#	 <div class="container">#}
{#	      <h3 class="type">Typography</h3>#}
{#	      <ol class="breadcrumb">#}
{#				<li><a href={% url 'index' %}>Home</a></li>#}
{#				<li class="active">Typography</li>						  #}
{#		 </ol>#}
{#		 <div class="grid_3 grid_44">#}
{#		     <h3>Headings</h3>#}
{#		     <div class="bs-example">#}
{#				 <table class="table">#}
{#				  <tbody>#}
{#					<tr>#}
{#					  <td><h1 id="h1.-bootstrap-heading">h1. Bootstrap heading<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>#}
{#					  <td class="type-info">Semibold 36px</td>#}
{#					</tr>#}
{#					<tr>#}
{#					  <td><h2 id="h2.-bootstrap-heading">h2. Bootstrap heading<a class="anchorjs-link" href="#h2.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h2></td>#}
{#					  <td class="type-info">Semibold 30px</td>#}
{#					</tr>#}
{#					<tr>#}
{#					  <td><h3 id="h3.-bootstrap-heading">h3. Bootstrap heading<a class="anchorjs-link" href="#h3.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h3></td>#}
{#					  <td class="type-info">Semibold 24px</td>#}
{#					</tr>#}
{#					<tr>#}
{#					  <td><h4 id="h4.-bootstrap-heading">h4. Bootstrap heading<a class="anchorjs-link" href="#h4.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h4></td>#}
{#					  <td class="type-info">Semibold 18px</td>#}
{#					</tr>#}
{#					<tr>#}
{#					  <td><h5 id="h5.-bootstrap-heading">h5. Bootstrap heading<a class="anchorjs-link" href="#h5.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h5></td>#}
{#					  <td class="type-info">Semibold 14px</td>#}
{#					</tr>#}
{#					<tr>#}
{#					  <td><h6>h6. Bootstrap heading</h6></td>#}
{#					  <td class="type-info">Semibold 12px</td>#}
{#					</tr>#}
{#				  </tbody>#}
{#				 </table>#}
{#			 </div>#}
{#	      </div>#}
{#		  #}
{#		 		  <div class="grid_3 grid_5">#}
{#			<h3>Buttons</h3>#}
{#			  <h1 class="btns">#}
{#				<a href="#"><span class="label label-default">Default</span></a>#}
{#				<a href="#"><span class="label label-primary">Primary</span></a>#}
{#				<a href="#"><span class="label label-success">Success</span></a>#}
{#				<a href="#"><span class="label label-info">Info</span></a>#}
{#				<a href="#"><span class="label label-warning">Warning</span></a>#}
{#				<a href="#"><span class="label label-danger">Danger</span></a>#}
{#			  </h1>#}
{#			  <h2 class="btns">#}
{#				<a href="#"><span class="label label-default">Default</span></a>#}
{#				<a href="#"><span class="label label-primary">Primary</span></a>#}
{#				<a href="#"><span class="label label-success">Success</span></a>#}
{#				<a href="#"><span class="label label-info">Info</span></a>#}
{#				<a href="#"><span class="label label-warning">Warning</span></a>#}
{#				<a href="#"><span class="label label-danger">Danger</span></a>#}
{#			  </h2>#}
{#			  <h3>#}
{#				<a href="#"><span class="label label-default">Default</span></a>#}
{#				<a href="#"><span class="label label-primary">Primary</span></a>#}
{#				<a href="#"><span class="label label-success">Success</span></a>#}
{#				<a href="#"><span class="label label-info">Info</span></a>#}
{#				<a href="#"><span class="label label-warning">Warning</span></a>#}
{#				<a href="#"><span class="label label-danger">Danger</span></a>#}
{#			  </h3>#}
{#			  <h4 class="typ1">#}
{#				<a href="#"><span class="label label-default">Default</span></a>#}
{#				<a href="#"><span class="label label-primary">Primary</span></a>#}
{#				<a href="#"><span class="label label-success">Success</span></a>#}
{#				<a href="#"><span class="label label-info">Info</span></a>#}
{#				<a href="#"><span class="label label-warning">Warning</span></a>#}
{#				<a href="#"><span class="label label-danger">Danger</span></a>#}
{#			  </h4>#}
{#			  <h5 class="typ1">#}
{#				<a href="#"><span class="label label-default">Default</span></a>#}
{#				<a href="#"><span class="label label-primary">Primary</span></a>#}
{#				<a href="#"><span class="label label-success">Success</span></a>#}
{#				<a href="#"><span class="label label-info">Info</span></a>#}
{#				<a href="#"><span class="label label-warning">Warning</span></a>#}
{#				<a href="#"><span class="label label-danger">Danger</span></a>#}
{#			  </h5>#}
{#			  <h6 class="typ1">#}
{#				<a href="#"><span class="label label-default">Default</span></a>#}
{#				<a href="#"><span class="label label-primary">Primary</span></a>#}
{#				<a href="#"><span class="label label-success">Success</span></a>#}
{#				<a href="#"><span class="label label-info">Info</span></a>#}
{#				<a href="#"><span class="label label-warning">Warning</span></a>#}
{#				<a href="#"><span class="label label-danger">Danger</span></a>#}
{#			  </h6>#}
{#	      </div>#}
{#			#}
{#		  <div class="grid_3 grid_5">#}
{#			 <h3>Progress Bars</h3>#}
{#			  <div class="tab-content">#}
{#				 <div class="tab-pane active" id="domprogress">#}
{#					 <div class="progress">    #}
{#					      <div class="progress-bar progress-bar-primary" style="width: 20%"></div>#}
{#					 </div>#}
{#					 <p>Info with <code>progress-bar-info</code> class.</p>#}
{#					 <div class="progress">    #}
{#						 <div class="progress-bar progress-bar-info" style="width: 60%"></div>#}
{#					 </div>#}
{#					 <p>Success with <code>progress-bar-success</code> class.</p>#}
{#					 <div class="progress">#}
{#						 <div class="progress-bar progress-bar-success" style="width: 30%"></div>#}
{#					 </div>#}
{#					 <p>Warning with <code>progress-bar-warning</code> class.</p>#}
{#					 <div class="progress">#}
{#						 <div class="progress-bar progress-bar-warning" style="width: 70%"></div>#}
{#					 </div>#}
{#					 <p>Danger with <code>progress-bar-danger</code> class.</p>#}
{#					 <div class="progress">#}
{#						 <div class="progress-bar progress-bar-danger" style="width: 50%"></div>#}
{#					 </div>#}
{#					 <p>Inverse with <code>progress-bar-inverse</code> class.</p>#}
{#					 <div class="progress">#}
{#						 <div class="progress-bar progress-bar-inverse" style="width: 40%"></div>#}
{#					 </div>#}
{#					 <p>Inverse with <code>progress-bar-inverse</code> class.</p>#}
{#					 <div class="progress">#}
{#						 <div class="progress-bar progress-bar-success" style="width: 35%"><span class="sr-only">35% Complete (success)</span></div>#}
{#						 <div class="progress-bar progress-bar-warning" style="width: 20%"><span class="sr-only">20% Complete (warning)</span></div>#}
{#						 <div class="progress-bar progress-bar-danger" style="width: 10%"><span class="sr-only">10% Complete (danger)</span></div>#}
{#					 </div>#}
{#				   </div>#}
{#			   </div>#}
{#		   </div>#}
{#		   #}
{#		   <div class="grid_3 grid_5">#}
{#			 <h3>Pagination</h3>#}
{#			 <div class="col-md-6">#}
{#				  <nav>#}
{#				  <ul class="pagination pagination-lg">#}
{#					<li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>#}
{#					<li><a href="#">1</a></li>#}
{#					<li><a href="#">2</a></li>#}
{#					<li><a href="#">3</a></li>#}
{#					<li><a href="#">4</a></li>#}
{#					<li><a href="#">5</a></li>#}
{#					<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>#}
{#				  </ul>#}
{#				  </nav>#}
{#				  <nav>#}
{#				  <ul class="pagination">#}
{#					<li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>#}
{#					<li><a href="#">1</a></li>#}
{#					<li><a href="#">2</a></li>#}
{#					<li><a href="#">3</a></li>#}
{#					<li><a href="#">4</a></li>#}
{#					<li><a href="#">5</a></li>#}
{#					<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>#}
{#				  </ul>#}
{#				 </nav>#}
{#				 <nav>#}
{#				   <ul class="pagination pagination-sm">#}
{#					<li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>#}
{#					<li><a href="#">1</a></li>#}
{#					<li><a href="#">2</a></li>#}
{#					<li><a href="#">3</a></li>#}
{#					<li><a href="#">4</a></li>#}
{#					<li><a href="#">5</a></li>#}
{#					<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>#}
{#				  </ul>#}
{#				 </nav>				 #}
{#			 </div>#}
{#			 <div class="col-md-6">#}
{#					<ul class="pagination pagination-lg">#}
{#									<li class="disabled"><a href="#"><span aria-hidden="true">«</span></i></a></li>#}
{#									<li class="active"><a href="#">1</a></li>#}
{#									<li><a href="#">2</a></li>#}
{#									<li><a href="#">3</a></li>#}
{#									<li><a href="#">4</a></li>#}
{#									<li><a href="#">5</a></li>#}
{#									<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>#}
{#								</ul>#}
{#				<nav>#}
{#				  <ul class="pagination">#}
{#					<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>#}
{#					<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>#}
{#					<li><a href="#">2</a></li>#}
{#					<li><a href="#">3</a></li>#}
{#					<li><a href="#">4</a></li>#}
{#					<li><a href="#">5</a></li>#}
{#					<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>#}
{#				 </ul>#}
{#			   </nav>#}
{#				 <ul class="pagination pagination-sm">#}
{#					<li class="disabled"><a href="#"><span aria-hidden="true">«</span></i></a></li>#}
{#					<li class="active"><a href="#">1</a></li>#}
{#					<li><a href="#">2</a></li>#}
{#					<li><a href="#">3</a></li>#}
{#					<li><a href="#">4</a></li>#}
{#					<li><a href="#">5</a></li>#}
{#					<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>#}
{#				</ul>#}
{#				</div>#}
{#			   <div class="clearfix"> </div>#}
{#		 </div>#}
{#		 <div class="grid_3 grid_5">#}
{#			 <h3>Breadcrumbs</h3>#}
{#			   <ol class="breadcrumb">#}
{#			  <li class="active">Home</li>#}
{#			</ol>#}
{#			<ol class="breadcrumb">#}
{#			  <li><a href="#">Home</a></li>#}
{#			  <li class="active">Library</li>#}
{#			</ol>#}
{#			<ol class="breadcrumb">#}
{#			  <li><a href="#">Home</a></li>#}
{#			  <li><a href="#">Library</a></li>#}
{#			  <li class="active">Data</li>#}
{#			</ol>#}
{#		 </div>#}
{#	   <div class="grid_3 grid_5">#}
{#			 <h3>Badges</h3>#}
{#				<div class="col-md-6">#}
{#					<p>Add modifier classes to change the appearance of a badge.</p>#}
{#					  <table class="table table-bordered">#}
{#						<thead>#}
{#							<tr>#}
{#								<th width="50%">Classes</th>#}
{#								<th width="50%">Badges</th>#}
{#							</tr>#}
{#						</thead>#}
{#						<tbody>#}
{#							<tr>#}
{#								<td>No modifiers</td>#}
{#								<td><span class="badge">42</span></td>#}
{#							</tr>#}
{#							<tr>#}
{#								<td><code>.badge-primary</code></td>#}
{#								<td><span class="badge badge-primary">1</span></td>#}
{#							</tr>#}
{#							<tr>#}
{#								<td><code>.badge-success</code></td>#}
{#								<td><span class="badge badge-success">22</span></td>#}
{#							</tr>#}
{#							<tr>#}
{#								<td><code>.badge-info</code></td>#}
{#								<td><span class="badge badge-info">30</span></td>#}
{#							</tr>#}
{#							<tr>#}
{#								<td><code>.badge-warning</code></td>#}
{#								<td><span class="badge badge-warning">412</span></td>#}
{#							</tr>#}
{#							<tr>#}
{#								<td><code>.badge-danger</code></td>#}
{#								<td><span class="badge badge-danger">999</span></td>#}
{#							</tr>#}
{#						</tbody>#}
{#					  </table>                    #}
{#				</div>#}
{#				<div class="col-md-6">#}
{#				  <p>Easily highlight new or unread items with the <code>.badge</code> class</p>#}
{#					<div class="list-group list-group-alternate"> #}
{#						<a href="#" class="list-group-item"><span class="badge">201</span> <i class="ti ti-email"></i> Inbox </a> #}
{#						<a href="#" class="list-group-item"><span class="badge badge-primary">5021</span> <i class="ti ti-eye"></i> Profile visits </a> #}
{#						<a href="#" class="list-group-item"><span class="badge">14</span> <i class="ti ti-headphone-alt"></i> Call </a> #}
{#						<a href="#" class="list-group-item"><span class="badge">20</span> <i class="ti ti-comments"></i> Messages </a> #}
{#						<a href="#" class="list-group-item"><span class="badge badge-warning">14</span> <i class="ti ti-bookmark"></i> Bookmarks </a> #}
{#						<a href="#" class="list-group-item"><span class="badge badge-danger">30</span> <i class="ti ti-bell"></i> Notifications </a> #}
{#					</div>#}
{#			   </div>#}
{#			   <div class="clearfix"> </div>#}
{#			 </div>#}
{#			 		  <section id="tables">#}
{#          <div class="page-header">#}
{#            <h1>Tables</h1>#}
{#          </div>#}
{##}
{#          <h2>Default styles</h2>#}
{#          <p>For basic stylinglight padding and only horizontal add the base class <code>.table</code> to any <code>&lt;table&gt;</code>.</p>#}
{#          <div class="bs-docs-example">#}
{#            <table class="table">#}
{#              <thead>#}
{#                <tr>#}
{#                  <th>#</th>#}
{#                  <th>First Name</th>#}
{#                  <th>Last Name</th>#}
{#                  <th>Username</th>#}
{#                </tr>#}
{#              </thead>#}
{#              <tbody>#}
{#                <tr>#}
{#                  <td>1</td>#}
{#                  <td>Mark</td>#}
{#                  <td>Otto</td>#}
{#                  <td>@mdo</td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>2</td>#}
{#                  <td>Jacob</td>#}
{#                  <td>Thornton</td>#}
{#                  <td>@fat</td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>3</td>#}
{#                  <td>Larry</td>#}
{#                  <td>the Bird</td>#}
{#                  <td>@twitter</td>#}
{#                </tr>#}
{#              </tbody>#}
{#            </table>#}
{#          </div>#}
{#	<hr class="bs-docs-separator">#}
{#          <p>Add any of the following classes to the <code>.table</code> base class.</p>#}
{#          <p>Adds zebra-striping to any table row within the <code>&lt;tbody&gt;</code> via the <code>:nth-child</code> CSS selector (not available in IE7-8).</p>#}
{#          <div class="bs-docs-example">#}
{#            <table class="table table-striped">#}
{#              <thead>#}
{#                <tr>#}
{#                  <th>#</th>#}
{#                  <th>First Name</th>#}
{#                  <th>Last Name</th>#}
{#                  <th>Username</th>#}
{#                </tr>#}
{#              </thead>#}
{#              <tbody>#}
{#                <tr>#}
{#                  <td>1</td>#}
{#                  <td>Mark</td>#}
{#                  <td>Otto</td>#}
{#                  <td>@mdo</td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>2</td>#}
{#                  <td>Jacob</td>#}
{#                  <td>Thornton</td>#}
{#                  <td>@fat</td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>3</td>#}
{#                  <td>Larry</td>#}
{#                  <td>the Bird</td>#}
{#                  <td>@twitter</td>#}
{#                </tr>#}
{#              </tbody>#}
{#            </table>#}
{#          </div>#}
{#          <p>Add borders and rounded corners to the table.</p>#}
{#          <div class="bs-docs-example">#}
{#            <table class="table table-bordered">#}
{#              <thead>#}
{#                <tr>#}
{#                  <th>#</th>#}
{#                  <th>First Name</th>#}
{#                  <th>Last Name</th>#}
{#                  <th>Username</th>#}
{#                </tr>#}
{#              </thead>#}
{#              <tbody>#}
{#                <tr>#}
{#                  <td rowspan="2">1</td>#}
{#                  <td>Mark</td>#}
{#                  <td>Otto</td>#}
{#                  <td>@mdo</td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>Mark</td>#}
{#                  <td>Otto</td>#}
{#                  <td>@getbootstrap</td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>2</td>#}
{#                  <td>Jacob</td>#}
{#                  <td>Thornton</td>#}
{#                  <td>@fat</td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>3</td>#}
{#                  <td colspan="2">Larry the Bird</td>#}
{#                  <td>@twitter</td>#}
{#                </tr>#}
{#              </tbody>#}
{#            </table>#}
{#          </div>#}
{#          <p>Enable a hover state on table rows within a <code>&lt;tbody&gt;</code>.</p>#}
{#          <div class="bs-docs-example">#}
{#            <table class="table table-hover">#}
{#              <thead>#}
{#                <tr>#}
{#                  <th>#</th>#}
{#                  <th>First Name</th>#}
{#                  <th>Last Name</th>#}
{#                  <th>Username</th>#}
{#                </tr>#}
{#              </thead>#}
{#              <tbody>#}
{#                <tr>#}
{#                  <td>1</td>#}
{#                  <td>Mark</td>#}
{#                  <td>Otto</td>#}
{#                  <td>@mdo</td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>2</td>#}
{#                  <td>Jacob</td>#}
{#                  <td>Thornton</td>#}
{#                  <td>@fat</td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>3</td>#}
{#                  <td colspan="2">Larry the Bird</td>#}
{#                  <td>@twitter</td>#}
{#                </tr>#}
{#              </tbody>#}
{#            </table>#}
{#          </div>#}
{##}
{#	</div>#}
{#</div>#}
<!---->
<div class="footer2">	
    <div class="container">
        <div class="ftr2-grids">
            <div class="col-md-4 ftr2-grid1">
                <h3>导航</h3>
                <ul>
                    <li><a href="{% url 'welcome:about' %}">关于我们</a></li>
                    <li><a href="{% url 'welcome:services' %}">服务介绍</a></li>
                    <li><a href="{% url 'welcome:blog' %}">汽车信息</a></li>
					<li><a href="{% url 'welcome:gallery' %}">徳旭风采</a></li>
					<li><a href="{% url 'welcome:contact' %}">预约试驾</a></li>
                </ul>
            </div>
            <div class="col-md-4 ftr2-grid2">
                <h3>最新推文</h3>
                <div class="ftr2-grid">
                    <p>徳旭4S服务质量很高，令人满意</p>
                    <a href="#">1小时前</a>
                </div>
                <div class="ftr2-grid">
                    <p>等待区有奶茶零食，很棒</p>
                    <a href="#">3小时前</a>
                </div>
            </div>
            <div class="col-md-4 ftr6-grid3">
                <h3>咨询</h3>
                <p>输入您的邮箱，我们的客服将在第一时间联系您</p>
                <form>
                    <input type="text" id="touchemail" name="email" class="text" value="Enter Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Enter Email';}">
                    <a id="touch" href="javascript:void(0);" value="Subscribe" class="more hvr-bounce-to-bottom" style="margin-top: 0px">提交</a>
                </form>
                <div class="social">
                    <ul>
                        <li><a href="https://www.facebook.com/"><i class="facebook"></i></a></li>
                        <li><a href="https://twitter.com/"><i class="twitter"></i></a></li>
                        <li><a href="https://dribbble.com/"><i class="dribble"></i></a></li>
                        <li><a href="https://www.google.com/"><i class="google"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!---->

</body>
</html>